#footerlist li

  display: inline-block
  list-style-type: none
  padding-right: 30px

#footerlist li img 
    width: 30px
    height: 30px
    cursor: pointer

#footerlist li p 
    font-size: 20px
    color: white
    position: relative
    bottom: 9px