<footer>
    <ul id="footerlist">
        <li id="facebook">
            <a (click)="goToPage('facebook')"><img src="assets/facebook.png"></a>
        </li>
        <li id="instagram">
            <a (click)="goToPage('instagram')"><img src="assets/instagram.png"></a>
        </li>
        <li id="twitter">
            <a (click)="goToPage('twitter')"><img src="assets/twitter.png"></a>
        </li>
        <li id="pinterest">
            <a (click)="goToPage('pinterest')"><img src="assets/pinterest.png"></a>
        </li>
        <li>
            <p>Copyright 2019 | Lynx s.p.a</p>
        </li>
    </ul>
</footer>