<ul id="footerlist">
    <li id="facebook">
        <a (click)="goToPage"><img src="assets/facebook.png"></a>
    </li>
    <li id="instagram">
        <a ng-href="http://www.instagram.com"></a><img src="assets/instagram.png"></li>
    <li id="twitter">
        <a ng-href="http://www.twitter.com"></a><img src="assets/twitter.png"></li>
    <li id="pinterest">
        <a ng-href="http://www.pinterest.com"></a><img src="assets/pinterest.png"></li>
    <li>
        <p>Copyright 2019 | Lynx s.p.a</p>
    </li>
</ul>