<section>
    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
    <form [formGroup]="register" (ngSubtim)="onSubmit()">

        <!-- ------------------------------------------------------------------------------------------------------------------------------- -->
        <div>
            <img id="logo" src="assets/Logo.png">
        </div>
        <input formControlName="firstname" placeholder="Firstname">
        <p [hidden]="register.get('firstname').status === 'VALID' || register.get('firstname').pristine">Nome
            obbligatorio</p>
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        <div>
            <img id="logo" src="assets/Logo.png">
        </div>
        <input formControlName="lastname" placeholder="Lastname">
        <p [hidden]="register.get('lastname').status === 'VALID' || register.get('lastname).pristine">Cognome
            obbligatorio</p>
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        <div>
            <img id="logo" src="assets/Logo.png">
        </div>
        <input formControlName="gender" placeholder="Gender">
        <p [hidden]="register.get('gender').status === 'VALID' || register.get('gender).pristine">Genere obbligatorio
        </p>
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        <div>
            <img id="logo" src="assets/Logo.png">
        </div>
        <input formControlName="email" placeholder="Email">
        <p [hidden]="register.get('email').status === 'VALID' || register.get('email').pristine">Email obbligatoria</p>

        <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
        <div>
            <img id="logo" src="assets/Logo.png">
        </div>
        <input formControlName="telephone" placeholder="Email">
        <p [hidden]="register.get('telephone').status === 'VALID' || register.get('telephone').pristine">Email
            obbligatoria</p>
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        <div>
            <img id="logo" src="assets/Logo.png">
        </div>
        <input formControlName="password" placeholder="Password">
        <p [hidden]="register.get('password').status === 'VALID' || register.get('password').pristine">Email
            obbligatoria</p>

        <!-- --------------------------------------------------------------------------------------------------------------------------------    -->

        <button type="submit" class='btn' [disabled]="register.status === 'INVALID'">Submit</button>
        <!-- -------------------------------------------------------------------------------------------------------------------------------------  -->
    </form>
</section>