<div class="homepage">
    <div class="wrapper">
        <div class="box a">
            <h1>Homepage</h1>
        </div>

        <h2 class="box b">Ciao {{nome}} bentornato su ANIME</h2>

        <div class="box c">
            <p id="pText">Sei pronto a scoprire cose nuove?<br> Su questo sito troverai informazioni<br> su vari anime<br> e le recensioni su di essi.</p>
            <input type="button" value="" id="b1" (click)="changeText('Sei pronto a scoprire cose nuove?<br> Su questo sito troverai informazioni<br> su vari anime<br> e le recensioni su di essi.');" />
            <input type="button" value="" id="b2" (click)="changeText('Sei pronto a scoprire <br> tante meravigliose cose<br> sui tuoi anime preferiti<br> e su tanto altro.');" />
            <input type="button" value="" id="b3" (click)="changeText('Qui, scoprirai cosa ne <br>pensano anche gli altri Otaku. <br>Ti chiediamo di non insultare nessuno<br> se non sei d accordo con loro.');" />
        </div>
        <div class="d">
            <img id="homepage" src="assets/Homepage.jpg">
        </div>
    </div>
</div>