<div class="profilo">
    <h1>BENVENUTO</h1>
    <div><img src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png"></div>
    <div class="profile-grid">
        <div class="label-cell name-cell">Nome</div>
        <div class="color-cell"></div>
        <div class="value-cell name-cell">'{{nome}}'</div>
        <div class="label-cell surname-cell">Cognome</div>
        <div class="color-cell"></div>
        <div class="value-cell surname-cell">''</div>
        <div class="label-cell gender-cell">Gender</div>
        <div class="color-cell"></div>
        <div class="value-cell gender-cell">''</div>
        <div class="label-cell email-cell">Email</div>
        <div class="color-cell"></div>
        <div class="value-cell email-cell">''</div>
        <div class="label-cell phone-cell">Telefono</div>
        <div class="color-cell"></div>
        <div class="value-cell phone-cell">''</div>
    </div>

</div>