body 
    margin: 0

ul 
    position: fixed
    margin: 0
    list-style-type: none
    padding: 0px
    background-image: linear-gradient(90deg, #011e29, #4b81ac)
    top: 0
    left: 0
    width: 100%
    border-style: solid  
    border-color: black 
    border-radius: 5px
    z-index: 999

li 
    position: relative
    bottom: 20px
    margin: 20px
    display: inline-block
    color: white
    text-align: center
    text-decoration: none
    cursor: pointer
    font-size: 20px

li:hover 
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue

.active 
    border-bottom-style: solid
    border-bottom-color: white

#logo 
    width: 100px
    height: 50px
   
.logoPosition
    position: relative
    bottom: 5px
    left: 800px







