.lista 
    color: orange
    font-weight: bold
    margin-top: 100px
    background-image: linear-gradient(-90deg, #3acfd5, #3a4ed5)
    border : 2px solid white
    padding: 20px
    
button
    border-radius: 20%
    cursor: pointer
    margin-left: 100px
    color: #3a4ed5

label 
    color : white
    font-size: 30px

#bottoni
    display: inline 

.select
    margin-top : 30px
    align-content: center
    width: 160px
    background-color: white
    border-radius: 100px

.label1
    text-align: left
    color : white
    font-size: 20px

.lista1
    font-weight: bold
    margin-top: 100px
    padding-left: 20px

.dropbtn 
  background-color:transparent
  color: #3a4ed5

.dropdown 
  display: inline-block

.dropdown-content 
  display: none
  position: absolute
  background-color: white
  padding: 0
  margin: 0
  cursor: pointer
  min-width: 150px
  z-index: 1
  font-size: 15px

ul 
    list-style-type: none


.dropdown-content li:hover 
    color: #3acfd5 

.dropdown:hover .dropdown-content 
    display: block

.dropdown:hover .dropbtn 
    background-color: transparent

.wrapper 
  display: grid
  grid-template-columns: 400px auto 500px
  grid-template-rows: 150px


.box 
  padding: 20px  
  background-image: linear-gradient(0, #3acfd5, #3a4ed5)
  font-size: 150%
  
  

.a 
  grid-column: 1 / 3
  grid-row: 1
  align-self: center


.b 
  grid-column: 2 / 3
  grid-row: 1
  align-self: center


.c 
  padding: 22px  
  grid-column: 3 / 3
  grid-row: 1
  align-self: center

