.dettaglio 
    color: orange
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-weight: bold
    margin-top: 100px
    border : 2px solid black

button
    border-radius : 20%
    margin-right: 40px

.coll
    cursor: pointer