.dettaglio 
    color: orange
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-weight: bold
    margin-top: 70px
    font-size: 60px
    
button
    margin-right: 40px
    position: relative
    border-radius: 20%
    cursor: pointer
    background-color: #008080	
    color: white
    border-color: #008080



hr
    border: 10px

.descrizioneanime 
    position: relative
    bottom: 340px
    font-size: 25px
    color: white

.img
    width: 500px
    margin-left: 600px

.box
    width: 600px
    height: 100px





    